@import "variables";
@import "header";
@import "welcome";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Bebas Neue", cursive;
}

body {
  background: linear-gradient(
    180deg,
    #093f19 0%,
    #03532c 25.43%,
    #018436 71.09%,
    #018436 100%
  );
  background-repeat: no-repeat;
}

.container {
  max-width: $container-max-width;
  display: flex;
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  display: flex;
  flex-direction: column;
}
