@import "variables";
@import "functions";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  height: 100vh;
  width: 100vw;

  background-image: url("../assets/images/table-mobile.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;

  @media screen and (min-width: $mobile-max-width) {
    background-image: url("../assets/images/table-desktop.png");
    background-position: center top;
  }
}

.potraitContent {
  display: none;
  z-index: 10;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    180deg,
    #093f19 0%,
    #03532c 25.43%,
    #018436 71.09%,
    #018436 100%
  );

  .blackjackLogo {
    width: rem(300);
    margin-bottom: 4rem;
    img {
      width: 100%;
    }
  }

  .tiltInstruction {
    display: flex;
    flex-direction: column;
    align-items: center;
    p {
      font-family: $bebas;
      font-size: rem(48);
      line-height: 1.2;
      text-align: center;
      margin-bottom: rem(23);
      padding: 0 3rem;
    }
    img {
      width: rem(140);
    }
  }

  @media screen and (orientation: portrait) and (max-width: $mobile-max-width) {
    display: flex;
  }
}

.container {
  width: 100%;
  height: 100%;
  max-width: $container-max-width;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.game {
  width: 100%;
  height: 100%;
  .board {
    flex: 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 2rem;
    padding: 0 1.5rem;

    @media screen and (min-width: rem(800)) {
      grid-column-gap: 3rem;
      padding: 0 2rem;
    }
    @media screen and (min-width: rem(1200)) {
      grid-column-gap: 4rem;
      padding: 0 5rem;
    }

    > div {
      display: flex;
      justify-content: center;
      align-items: center;
      column-gap: 10px;
      row-gap: 10px;
      flex-wrap: wrap;
      align-content: center;

      @media screen and (min-width: rem(800)) {
        column-gap: 15px;
        row-gap: 15px;
      }
      @media screen and (min-width: rem(1200)) {
        column-gap: 20px;
        row-gap: 20px;
      }
    }
  }
  .bottom {
    // position: absolute;
    // bottom: 0;
    width: 100%;
    padding: 0 2rem 1rem;

    @media screen and (min-width: rem(1200)) {
      padding: 0 5rem 3rem;
    }
  }
}

.count {
  display: flex;
  justify-content: space-between;
  align-items: center;
  // transform: translateY(50%);
  width: 100%;
  pointer-events: none;
  position: absolute;
  bottom: 2.5rem;
  left: 0;
  padding: 0 2rem;

  > div {
    display: flex;
    flex-direction: column;

    .playername {
      font-family: $bebas;
      font-size: rem(18);
      line-height: 1.2;
      text-align: left;
      margin-bottom: rem(8);
      color: white;
    }

    div {
      display: flex;
      align-items: center;
      .avatar {
        width: rem(36);
        z-index: 1;
      }
      span {
        width: rem(64);
        color: black;
        text-align: center;
        background-color: #c4c4c4;
        display: inline-block;
        margin-left: rem(-8);
        font-family: $bebas;
        border-radius: rem(4);

        &.bust {
          color: white;
          background-color: $red;
        }
      }
    }
  }

  > .count-computer {
    .playername {
      text-align: right;
    }
    div {
      flex-direction: row-reverse;

      span {
        margin-left: rem(0);
        margin-right: rem(-8);
      }
    }
  }

  @media screen and (min-width: rem(1200)) {
    padding: 0 5rem;

    > div {
      .playername {
        font-size: rem(24);
        margin-bottom: 1rem;
      }
      div {
        .avatar {
          width: rem(54);
        }
        span {
          width: rem(120);
          border-radius: 0 rem(8) rem(8) 0;
          font-size: rem(24);
        }
      }
    }

    > .count-computer div span {
      border-radius: rem(8) 0 0 rem(8);
    }
  }
}

.controls {
  z-index: 2;
}

.buttons {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: rem(14);

  button {
    font-family: $bebas;
    font-size: rem(18);
    width: rem(100);
    border: none;
    outline: none;
    height: rem(30);
    border-radius: rem(8);

    @media screen and (min-width: rem(1200)) {
      font-size: rem(28);
      letter-spacing: 3px;
      width: rem(200);
      height: rem(48);
      border-radius: rem(10);
    }

    &.hit {
      background-color: $blue;
      color: white;
    }
    &.stand {
      background-color: $yellow;
      color: black;
    }
    &.deal {
      background-color: $red;
      color: white;
    }

    &.continue {
      background-color: $yellow;
      color: white;
    }
    &.exit {
      border: 1px solid $yellow;
      background-color: transparent;
      color: $yellow;
    }

    &:disabled {
      filter: grayscale(50%);
      opacity: 0.8;
    }
  }
}
.scoreboard {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: rem(40);

  p {
    font-family: $bebas;
    font-size: rem(18);
    color: white;
    span {
      padding-left: rem(3);
      font-family: inherit;
    }
  }

  @media screen and (min-width: rem(1200)) {
    margin-top: 2rem;
    gap: rem(60);
    p {
      font-size: rem(24);
      span {
        padding-left: rem(5);
      }
    }
  }
}

.card {
  width: rem(70);
  height: fit-content;

  img {
    width: 100%;
  }

  @media screen and (min-width: rem(800)) {
    width: rem(100);
  }
  @media screen and (min-width: rem(1200)) {
    width: rem(120);
  }
}

.modal {
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 100;
  background-color: rgba($color: #000000, $alpha: 0);
  transition: all ease-in-out 0.5s;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;

  &.show {
    display: flex;
    background-color: rgba($color: #000000, $alpha: 0.7);
  }

  #result {
    font-size: rem(72);
    text-align: center;
    font-family: $bebas;

    &.win {
      color: $yellow;
    }
    &.lose {
      color: $red;
    }
    &.draw {
      color: $blue;
    }
  }

  .scoreboard {
    margin-top: 0;
    margin-bottom: 1rem;
  }

  .buttons {
    display: flex;
    align-items: center;
    gap: 2rem;
  }

  @media screen and (min-width: rem(1200)) {
    #result {
      font-size: rem(140);
    }
    .scoreboard {
      p {
        font-size: rem(36);
      }
    }
  }
}
